$rojo: rgb(214, 214, 214);

body{
    background-color: $rojo;
}

body {
    width: 50%;
    margin: auto;
}

p {
    font-weight: bold;
    font-size: 30px;
}

h1 {
    color: rgb(0, 255, 234);
    border-bottom: 1px solid black;
    padding: 15px;
    font-size: 50px;
    text-align: center;
}

span {
    color: red;
    font-weight: bold;

}