.galeria{
    background-color: $negro;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;    
}
.glaeria-img{
    display: flex;
    .img-conainer{
        gap: 0!important;
    }
        
        
    
    }

        

    
