.home{
    background-image: url("/src/img/banner1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include tablet{
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
    }

    .header-logo{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        img{
            width: 40%;
            @include tablet{
                width: 70%;
            }
        }
    }
}
.header-nav{
    display: block;
    width: 100%;    
    text-align: center;
    margin: 2rem 2rem ;
    @include tablet{
        display: flex;
        justify-content: flex-end;
        gap: 1.5em;
    }
    a{
        display: block;
        margin: 1rem;
        padding: .5rem;
        color: $blanco;
        background: rgba(255, 255, 255, .3);
        font-size: 2.4rem;
        &:hover{
            background: rgba(214, 181, 129, .3);
            padding: .7rem;
        }
        @include tablet{
            display: flex;
            background: none;
            margin: 0;
            padding: 0;
            &:hover{
                background: none;
                padding: 0;
            }
        }
    }
}

