$fuentePrincipal : 'Montserrat', sans-serif;

// Colores
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #FEF46D;
$morado: #752f97;
$negro: #000;
$blanco: #fff;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Fuentes
$delgada:300;
$regular:400;
$bold:700;
$black:900;

// Serparaciones
$separacion: 5rem;